.main-container {
  display: flex; /* Torna o contêiner um contêiner flex */
}
.container{
  width: 100%;
}

.linha01{
width: 97%;
/*overflow: hidden;*/
margin-left: 1vh;
height:10vh;
display: inline-flex;

}
.ti-botao {
  height:10vh;
  width:10%;
  margin-left: 1vw;
  margin-right: 5px;
  padding: 2px;
  align-content: center;
}
.bott {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  border-left: none;
  border-right: none;
  font-size: 18pt;
}
.Rosa {
  background-color: var(--cor-clara);
  border: solid 2px var(--cor-media);
}
.Branco {
  background-color: white;
  border: solid 2px var(--cor-media);
}
.RosaEscuro {
  background-color: var(--cor-media);
  border: solid 2px var(--cor-escura);
  color:#fddfed;
}
.ti-container {
  height:10vh;
  width: 37%;
  position:relative;
  display: inline-flex;
  border-radius: 2vh;
  border: solid 2px  var(--cor-clara)
}
.ti-controles {
  height: 10vh;
  width: 85%;
  padding: 1vh;
}
.ti-select {
  height: 4vh;
  width: 100%;
  align-content:center;
}

.material-icons {
  font-size: 8vh;
  color: var(--cor-escura);
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.material-icons:hover {
box-shadow: 0 0 5px 5px pink;
background-color: pink;
}

.ti-img {
  height: 10vh;
  width: 14%;
  padding: 1vh;
}
.nome-area {
  height:10vh;
  width:46%;
  background-color:white;
  position:relative;
  display:inline-block;
  border-radius: 2vh;
  border: solid 2px  var(--cor-clara);
  padding: 5px;
  margin-left: 5vh;
}
.nome-selec {
  height:4vh;
  width:100%;
  border: none;
  background-color: white;
  font-size: large;
  color: var(--cor-escura);
  font-weight: bolder;
  text-transform:uppercase;
  display: grid;
  place-items: center;
}
.linhadebaixo {
  display:inline-flex;
  place-items: center;
  text-align: center;
  height:4vh;
  width:100%;
}
.desde {
  height:4vh;
  width:30%;
  place-items: center;
  text-align: center;
  padding: 5px;
}

.proxses {
  height:4vh;
  width:30%;
  place-items: center;
  text-align: center;
  padding: 5px;
}


.corpo {
  height: 69vh;
  width: 96vw;
  margin: 2px;
  display: inline-flex;
  overflow: auto;
}

.grid-result {
  height: 64vh;
  margin: 2vh;
  width: 47%;
  overflow-y: auto;
}

.grid-result::-webkit-scrollbar-thumb {
  background-color: #fddfed;
  border-radius: 6px;
}

.grid-result::-webkit-scrollbar {
  width: 14px;
  background-color:#ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #ffb6b6;
  border-radius: 6px;
  padding: 2px;
}
.lado-direito {
  height: 64vh;
  margin: 2vh;
  width: 47%;
  display: inline-block;
  padding: 1vh;
}
.formul-result {
  height: 50vh;
  width: 100%;
  border: solid 2px rgb(228, 190, 210);
  border-radius: 2vh;
  border-right: none;
  border-left: none;
  padding: 7px;
  overflow-y: auto;
}
.formul-result::-webkit-scrollbar {
width: 0px;
background-color:#ffffff;
border-style: none;
}
.botoes-finais {
  height: 20%;
  width: 100%;
  display: inline-flex;
}
.btn {
  height: 100%;
  width: 30%;
  padding: 1vh;
  background-color:white;
}
.btnSalvar {
  margin-left: 5%;
  margin-right: 5%;
}

#funil {
  font-size: 6vh;
  color:var(--cor-media);
}

table {
  width: 100%; /* Você pode ajustar isso conforme necessário */
  border-collapse: collapse;
}
.formul-result::-webkit-scrollbar-thumb {
background-color: #fddfed;
border-radius: 6px;
}

.formul-result::-webkit-scrollbar {
width: 14px;
background-color:#ffffff;
border-width: 1px;
border-style: solid;
border-color: #ffb6b6;
border-radius: 6px;
padding: 2px;
}
